@theme {
  --text-display-24sb: 24px;
  --text-display-24sb--line-height: normal;
  --text-display-24sb--font-weight: 600;
  --text-display-24sb--letter-spacing: 0;

  --text-display-22b: 22px;
  --text-display-22b--line-height: normal;
  --text-display-22b--font-weight: 700;
  --text-display-22b--letter-spacing: 0;

  --text-display-20sb: 20px;
  --text-display-20sb--line-height: normal;
  --text-display-20sb--font-weight: 600;
  --text-display-20sb--letter-spacing: 0;

  --text-title-18b: 18px;
  --text-title-18b--line-height: normal;
  --text-title-18b--font-weight: 700;
  --text-title-18b--letter-spacing: 0;

  --text-title-18sb: 18px;
  --text-title-18sb--line-height: normal;
  --text-title-18sb--font-weight: 600;
  --text-title-18sb--letter-spacing: 0;

  --text-body-16b: 16px;
  --text-body-16b--line-height: normal;
  --text-body-16b--font-weight: 700;
  --text-body-16b--letter-spacing: 0;

  --text-body-16m: 16px;
  --text-body-16m--line-height: normal;
  --text-body-16m--font-weight: 500;
  --text-body-16m--letter-spacing: 0;

  --text-body-16r: 16px;
  --text-body-16r--line-height: normal;
  --text-body-16r--font-weight: 400;
  --text-body-16r--letter-spacing: 0;

  --text-body-14b: 14px;
  --text-body-14b--line-height: normal;
  --text-body-14b--font-weight: 700;
  --text-body-14b--letter-spacing: 0;

  --text-body-14sb: 14px;
  --text-body-14sb--line-height: normal;
  --text-body-14sb--font-weight: 600;
  --text-body-14sb--letter-spacing: 0;

  --text-body-14m: 14px;
  --text-body-14m--line-height: normal;
  --text-body-14m--font-weight: 500;
  --text-body-14m--letter-spacing: 0;

  --text-caption-13sb: 13px;
  --text-caption-13sb--line-height: normal;
  --text-caption-13sb--font-weight: 600;
  --text-caption-13sb--letter-spacing: 0;

  --text-caption-12sb: 12px;
  --text-caption-12sb--line-height: normal;
  --text-caption-12sb--font-weight: 600;
  --text-caption-12sb--letter-spacing: 0;

  --text-caption-12m: 12px;
  --text-caption-12m--line-height: normal;
  --text-caption-12m--font-weight: 500;
  --text-caption-12m--letter-spacing: 0;

  --text-caption-12r: 12px;
  --text-caption-12r--line-height: normal;
  --text-caption-12r--font-weight: 400;
  --text-caption-12r--letter-spacing: 0;

  --text-caption-10r: 10px;
  --text-caption-10r--line-height: normal;
  --text-caption-10r--font-weight: 400;
  --text-caption-10r--letter-spacing: 0;
}
