@import url("https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/pretendard.css");
@import "tailwindcss";
@import "./color.css";
@import "./typography.css";

html,
body {
  width: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-width: none;
  font-family: Pretendard, system-ui, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100%;
  min-width: 375px;
  max-width: 430px;
  min-height: 100dvh;
  margin: 0 auto;
}
